title MatheTraffics | Niamat Rai
meta(charset="utf-8")
link(rel="stylesheet", type="text/css", href="./css/typography.css")
link(href="https://fonts.googleapis.com/css?family=Bitter|Oxygen|Roboto" rel="stylesheet")
link(rel="stylesheet", type="text/css", href="./css/style.css")
script(type="text/javascript", src="./js/main.js", defer)
script(type="text/javascript", src="./js/program.js", defer)