title MatheTraffics | Niamat Rai
meta(charset="utf-8")
// smoosh
link(rel="stylesheet", href="./css/style.css")
// endsmoosh
// smoosh
link(rel="stylesheet", href="./css/typography.css")
// endsmoosh