.page#p1

	.info.flex
		h1 Traffic and its impacts
		ul
			li Time delays
			li Unnecessary stress
			li Road rage
			li Higher fuel consumption
			li Problems in provision of emergency verhicles 

.page.flex#p2

	h1.title Mathe
		span Traffics

	p.caption
		| A Personalized Mathematical Model of Macroscopic Traffic Flow

.page#p3

	.info.flex
		h1 Assumptions
		ul
			li Every driver takes decisions with respect to their best interests
			li Absence of random and unpredictable events
			li Synchronised and ideal traffic lights

.page#p4

	.info.flex

		h1 Hypothesis

		p
			| It is possible to use mathematical analysis to find the optimum route and minimum time delay for a route from any two points A and B taking into account traffic density, route distances and traffic lights. 

.page#p5

	.info.flex

		h1 Working Method

		div.equation.flex

			div.lhs
				| speed

			div.equals
				| =

			div.rhs

				div.frac
					span distance
					span.symbol
					span.bottom time

		div.equation.flex

			div.lhs
				| v

			div.equals
				| =

			div.rhs

				div.frac
					span s
					span.symbol
					span.bottom t

		div.equation.flex

			div.lhs
				| t

			div.equals
				| =

			div.rhs

				div.frac
					span s
					span.symbol
					span.bottom v

		div.equation.flex

			div.lhs
				| t

			div.equals
				| &alpha;

			div.rhs

				| s

		p As distance decreases, time also decreases

.page#p6

	.info.flex

		h1 Traffic Density

		.matrix

			img(src="./img/a-matrix.png")
			img(src="./img/l-d-matrix.png")

		.network

			img(src="./img/network.png")

.page#p7

.page#p8
