.page#p1.flex

	.info.flex
		h1 Traffic and its impacts
		ul
			li Time delays
			li Unnecessary stress
			li Road rage
			li Higher fuel consumption
			li Problems in provision of emergency verhicles

	.buttons.flex

		.down.flex

			a(data-scroll href="#p2") ∨

.page#p2.flex
	
	.info.flex

		h1.title Mathe
			span Traffics

		p.caption
			| A Personalized Mathematical Model of Macroscopic Traffic Flow

	.buttons.flex

		.up.flex

			a(data-scroll href="#p1") ∧

		.down.flex

			a(data-scroll href="#p3") ∨

.page#p3.flex

	.info.flex

		h1 Assumptions

		ul

			li Every driver takes decisions with respect to their best interests
			li Absence of random and unpredictable events
			li Synchronised and ideal traffic lights

	.buttons.flex

		.up.flex

			a(data-scroll href="#p2") ∧

		.down.flex

			a(data-scroll href="#p4") ∨

.page#p4.flex

	.info.flex

		h1 Hypothesis

		p
			| It is possible to use mathematical analysis to find the optimum route and minimum time delay for a route from any two points A and B taking into account traffic density, route distances and traffic lights. 

	.buttons.flex

		.up.flex

			a(data-scroll href="#p3") ∧

		.down.flex

			a(data-scroll href="#p5") ∨

.page#p5.flex

	.info.flex

		h1 Working Method

		div.equation.flex

			div.lhs
				| speed

			div.equals
				| =

			div.rhs

				div.frac
					span distance
					span.symbol
					span.bottom time

		div.equation.flex

			div.lhs
				| v

			div.equals
				| =

			div.rhs

				div.frac
					span s
					span.symbol
					span.bottom t

		div.equation.flex

			div.lhs
				| t

			div.equals
				| =

			div.rhs

				div.frac
					span s
					span.symbol
					span.bottom v

		div.equation.flex

			div.lhs
				| t

			div.equals
				| &alpha;

			div.rhs

				| s

		p As distance decreases, time also decreases

	.buttons.flex

		.up.flex

			a(data-scroll href="#p4") ∧

		.down.flex

			a(data-scroll href="#p6") ∨

.page#p6.flex

	.info.flex

		h1 Traffic Density

		.images.flex

			.matrix.flex

				img(src="./img/matrix-1.png")
				img(src="./img/l-matrix-theory.png")
				img(src="./img/d-matrix-theory.png")

			.network.flex

				img(src="./img/network.png")

	.buttons.flex

		.up.flex

			a(data-scroll href="#p5") ∧

		.down.flex

			a(data-scroll href="#p7") ∨

.page#p7.flex

	.info.flex

		img(src="./img/x-r.png")

		p
			| Relation between
			em &nbsp;average traffic density&nbsp;
			| and
			em &nbsp;maximum average speed:

		div.equation.flex

			div.lhs
				| v

			div.equals
				| =

			div.rhs

				| (-2 &times; 10
				sup -10
				| ) x
				sup 3
				| &nbsp;+ (3 &times; 10
				sup -6
				| ) x
				sup 2
				| &nbsp;- 0.061x + 51

	.buttons.flex

		.up.flex

			a(data-scroll href="#p6") ∧

		.down.flex

			a(data-scroll href="#p8") ∨

.page#p8.flex

	.info.flex

		h1 Working Example

		.images.flex

			img(src="./img/map1.png")
			img(src="./img/map2.png")

	.buttons.flex

		.up.flex

			a(data-scroll href="#p7") ∧

		.down.flex

			a(data-scroll href="#p9") ∨

.page#p9.flex

	.info.flex

		.matrix.flex

				img(src="./img/a-matrix-example.png")
				img(src="./img/l-matrix-e1.png")
				img(src="./img/d-matrix-example.png")

		.images.flex

			img(src="./img/map2.png")

	.buttons.flex

		.up.flex

			a(data-scroll href="#p8") ∧

		.down.flex

			a(data-scroll href="#p10") ∨

.page#p10.flex

	.info.flex

		h1 Traffic Density Data

		include table.pug

	.buttons.flex

		.up.flex

			a(data-scroll href="#p9") ∧

		.down.flex

			a(data-scroll href="#p11") ∨

.page#p11.flex

	.buttons.flex

		.up.flex

			a(data-scroll href="#p10") ∧

		.down.flex

			a(data-scroll href="#p12") ∨
	


//- .page#p10.flex

//- .page#p10.flex
