h1 Program to Calculate Speed and Time at a Particular Route

p Enter a time (hours) between 10 to 20:

input#textBox(type="text")

button(onclick="submit()") Calculate

.output

	h2 Average Traffic Density on:
	#density
	h2 Average Maximum Speed on:
	#speed
	h2 Minimum Time (in minutes):
	#time
