h1 Program to Calculate Speed and Time at a Particular Route

p Enter a time (hours) between 1000 hrs to 2000hrs:

input#textBox(type="text")

button(onclick="submit()") Calculate

.output

	h2 Average Traffic Density (cars/hour) on:
	#density
	h2 Average Maximum Speed (km/hour) on:
	#speed
	h2 Minimum Time (min):
	#time
