.logo.flex
	img(src="./img/logo.png")
	p.caption Sanskriti School

.title.flex
	h1.title Mathe
		span Traffics

	p.caption
		| A Personalized Mathematical Model of Macroscopic Traffic Flow

.names.flex
	p Adharsh Sathyavasan Thirunavukkarasu
	p Aditeya Shukla
	p Mihir Chaturvedi
	p Kanad Pardeshi