table
	tr
		td(colspan="1", rowspan="1")
		td(colspan="1", rowspan="1") 10am
		td(colspan="1", rowspan="1") 11am
		td(colspan="1", rowspan="1") 12pm
		td(colspan="1", rowspan="1") 1pm
		td(colspan="1", rowspan="1") 2pm
		td(colspan="1", rowspan="1") 3pm
		td(colspan="1", rowspan="1") 4pm
		td(colspan="1", rowspan="1") 5pm
		td(colspan="1", rowspan="1") 6pm
		td(colspan="1", rowspan="1") 7pm
		td(colspan="1", rowspan="1") 8pm
	tr
		td(colspan="1", rowspan="1") 1
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
	tr
		td(colspan="1", rowspan="1") 2
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
	tr
		td(colspan="1", rowspan="1") 3
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
	tr
		td(colspan="1", rowspan="1") 4
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 7200
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
	tr
		td(colspan="1", rowspan="1") 5
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
	tr
		td(colspan="1", rowspan="1") 6
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
	tr
		td(colspan="1", rowspan="1") 7
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
	tr
		td(colspan="1", rowspan="1") 8
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
	tr
		td(colspan="1", rowspan="1") 9
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 1200
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 1200
	tr
		td(colspan="1", rowspan="1") 10
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 2400
		td(colspan="1", rowspan="1") 7200
		td(colspan="1", rowspan="1") 7200
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 4800
		td(colspan="1", rowspan="1") 7200
		td(colspan="1", rowspan="1") 7200