section.main
	flex-direction column


	.page
		align-items flex-end
		font-family "Oxygen"
		width 100%
		height 100vh
		padding 3% 0
		
		div.buttons
			flex-direction column
			padding 1%
			
			a
				height 100%
				width 100%
				color inherit
			
			div
				border-radius 100%
				height 40px
				width 40px
				background transparent
				border 1px solid blue
				margin 10% 0
				cursor pointer
				user-select none
				font-weight bold
				font-size 120%
				transition 0.3s all linear
				color blue
				
				&:hover
					color #000
					background blue
					border 1px solid blue

		div.info
			height 100%
			width 100%
			flex-direction column
			justify-content flex-start

			h1
				color blue
				font-size 400%
				padding 0 0 2% 0
			
			p
				margin 2% 0 0 0
				width 70%
				font-size 180%
				letter-spacing 1.5px
				line-height 2
		
		div.equation
			width 100%
			font-family "Cambria Math"
			font-size 160%
			margin 1% 0
			
			div.equals
				margin 0 2%

			div.frac
				display inline-block
				position relative
				vertical-align middle
				letter-spacing 0.001em
				text-align center
				
				& > span
					display block
					padding 1px 3px
					
				span
					
					&.bottom
						border-top thin solid white
		
					&.symbol
						display none

		&#p1, &#p3, &#p5, &#p16, &#p21
			
			div.info
				
				ul, ol
					padding 0 15%

					li
						padding 3% 0
						font-size 180%
						list-style-type circle
						
		&#p2
			
			.info
				justify-content flex-start
			
				h1
					color blue
					font-size 500%
					font-family "Roboto"
					padding 0 0 5px 0
				
					span
						color white
				
				h1.title
					margin 8% 0 0 0
			
			p
				width 100%
				font-size 160%
				text-align center

		&#p6
			
			p
				text-align center
		
		&#p7
			
			img
				margin auto 0
				width 90%
				height auto
				
		&#p8

			.info
				width 100%
				
				.images
					width 100%
					height 100%
					flex-direction column
					justify-content space-around
					
					.network
						width 100%
						height 50%
						
						img
							width 50%
							height auto
					
					.matrix
						width 100%
						height 50%
						justify-content space-around

						img
							height 80%
							width auto
							
							&:first-child
								height 85%
		
		&#p11
			
			.info
				flex-direction column
				justify-content space-around
				width 100%
				
				.matrix
					height 40%
					width 100%
					
					img
						height 100%
						width auto
				
				.images
					width 100%
					height 60%

		
					img
						width auto
						height 90%
						border-radius 10px

		&#p12

			.info.flex
				
				table
					border-collapse collapse

				table, tr, td
					border 1px solid #fff
					
				td
					font-family "Bitter"
					font-size 120%
					text-align center
					padding 8px 12px
					
				tr:first-child
					color blue
				
				tr td:first-childw
					color blue

		&#p13
			
			div.info
				justify-content center
			
				img
					width 70%
					height auto
					margin 4% 0

		&#p13b
			
			div.info
				justify-content center
				
				p
					font-size 190%
					width 85%
					margin 0 0 5% 0
					line-height 1
					
				
				div.equation
					color yellow
					font-weight bold
					font-size 200%

		&#p14, &#p15
			
			.info.flex
				
				.up
					width 100%
					height 60%
					
					img:nth-child(1)
						height 90%
						width auto
						padding 0 5% 0 0

					img:nth-child(2)
						height 30%
						width auto
				
				.down
					width 100%
					height 40%
					justify-content center

					.results
						
						li
							padding 3% 0
							font-size 160%
							
					.results:nth-child(2)
						margin 0 5%
		
		&#p14
			
			li:nth-child(1)
				color yellow
				font-weight bold
		
		&#p15
			
			li:nth-child(2)
				color yellow
				font-weight bold

		&#p9, &#p10, &#p17
			
			img
				margin auto 0
				width auto
				height 60%
				border 4px solid #000
		
		&#p16
			
			.info
				
				h1
					font-size 250%
				
		&#p18, &#p19
			
			.info.flex
				
				.up
					height 80%
					width 100%
					justify-content space-around
					
					.results
						
						li
							font-size 170%
					
				.down
					flex-direction column
					height 10%
					width 100%
					
					p
						font-size 150%
						padding 0
						margin 0
						line-height 1.5
						text-align center
						width 100%

		&:nth-child(2n)
			background #222