section.program
	background #000
	color #fff
	flex-direction column
	width 100%
	padding 3% 5%
	font-family "Bitter"
	height 100vh
	
	h1
		color orange
		text-align center
		border-bottom 1px solid orange
		padding 0 0 15px 0
		font-size 250%
		font-weight 100

	p
		margin 4% 1% 2% 1%
		font-size 120%
		display inline-block
		
	input
		color #fff
		letter-spacing 2px
		background-color inherit
		border none
		border-bottom 2px solid #fff
		outline none
		font-size 120%
		width 5%
		margin 0 3% 0 1%
		transition 0.1s all linear
		text-align center
		padding 0 0 3px 0
		
		&:focus, &:active
			border-bottom 4px solid #fff		
	
	button
		background transparent
		font-family "Bitter"
		border 2px solid orange
		padding 4px 1%
		cursor pointer
		transition 0.5s all
		font-size 110%
		color orange
		letter-spacing 3px
		outline none
		
		&:hover
			color #222
			background orange
			
	div.output
		margin 0 5%
		font-size 110%
		
		h2
			font-weight 100
			display none
			font-size 110%
			margin 2% 0
		
		div
			padding 1% 0