doctype html

html

	head

		include includes/head.pug

	body

		include includes/body.pug
		
		// smoosh
		script(src="./js/smooth-scroll.polyfills.min.js")
		script(src="./js/main.js")
		// endsmoosh